*.slxc
**/slprj/**
**/*grt_fmi_rtw/**
**/logs/**
cpp_fmus/build/**
cpp_fmus/build-vs-output/**
simulink_models/build/**
simulink_models/**.fmu
*.autosave
**/pythonfmu_env/**
**/.vscode/**
**/__pycache__/**
.vs/
build/
*.egg-info/
*.asv
*.mlproj
*.ipynb_checkpoints
.clangd
.cache